*
    margin: 0
    padding: 0
    box-sizing: border-box


.container-fluid
    width: 82% !important

nav
    height: 12vh

.button_nav
    background-color: $blue !important
    width: 140px !important
    height: 30px !important
    border-radius: 3px !important
    color: #fcfdfe
    border: none !important
    font-size: 12px !important

.navbar-collapse
    font-size: 10px !important

.navbar-nav
    width: 40vw !important

.nav_links
    color: #575d71 !important
    transition: 0.3s !important
    text-decoration: none
    &:hover
        color: $blue !important
