*
    margin: 0
    padding: 0
    box-sizing: border-box

.container-fluid
    width: 82% !important

.button_nav
    background-color: $blue !important
    width: 140px !important
    height: 30px !important
    border-radius: 3px !important
    color: #fcfdfe
    border: none !important
    font-size: 12px !important

.navbar-collapse
    font-size: 10px !important


.navbar-nav
    width: 40vw !important
    &:hover
        color: $blue !important
    .nav_links
        position: relative
        &::after
            content: ""
            position: absolute
            left: 0vw
            bottom: -30%
            width: 0
            background-color: $blue
            height: 4px !important
            border-radius: 4px !important
            transition: 0.5s
        &:hover::after
            width: 100%
            


.nav_links
    color: #575d71 !important
    transition: 0.3s !important
    text-decoration: none
    font-size: 18px !important

    // &:hover
    //     color: $blue !important
    // a 
    //     position: relative
    //     &::after 
    //         content: ""
    //         position: absolute
    //         left: 0vw
    //         bottom: -30%
    //         width: 0
    //         background: $blue
    //         height: 4px
    //         border-radius: 4px
    //         transition: ease-in-out 0.3s
        

    //     &:hover::after 
    //         width: 100%
        
    



.nav_adidas
    display: none !important

        

@media  (max-width: 430px)
    .button_nav
        display: none

    .navbar-collapse
        font-size: 20px !important

    .navbar-nav
        width: 40vw !important

    .nav_img
        width: 190px !important
        margin-right: 40px !important
    .nav_adidas
        display: block !important
        background-color: white !important
        font-size: 25px !important
        color:  !important
